#importFrom("graphics", plot)
exportClasses(Move, DBBMM)
exportMethods(move, n.locs, time.lag,  lines, proj4string, summary, show, outerProbability, raster, brownian.bridge.dyn, plot, image, contour, getMovebankAnimals, getMovebankData, getMovebankID, getMovebankSensors, getMovebankSensorsAttributes, getMovebankStudies, getMovebankStudy, movebankLogin, searchMovebankStudies, emd)
useDynLib(move)


           
